//
// Base styles
//

//block ani 
@include keyframes (blockDelay) {
	
	0% {
		opacity: 0;
		/*transform: translateY(100px) scale(.9);*/
		transform: translate3d(0, 100px, 0) scale(.9);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}

ul{

	padding-top: 50px;
	font-size: 0;
	box-sizing: border-box;
	text-align: center;
	
	li{
		opacity: 0;
		display: inline-block;
		width: 100px; height: 100px;
		line-height: 100px;
		font-size: 12px;
		font-weight: bold;
		
		&:nth-child(1){
			background-color: #f3f3f3;
		}
		&:nth-child(2){
			background-color: #ddd;
		}
		&:nth-child(3){
			background-color: #333;
			color: #fff;
		}
		&:nth-child(4){
			background-color: #000;
			color: #fff;
		}

		@for $i from 1 through 4 {
		
			&:nth-child(#{$i}){

				//animation: blockDelay .5s cubic-bezier(.645,.045,.355,1) .2*$i#{s} forwards ;
				@include animation(blockDelay, .5s, cubic-bezier(.645,.045,.355,1), .2*$i#{s}, 1, normal, forwards);
			}

		}

	}

		
}

.arrow:before{
	content: '';
	display: inline-block;
	margin-right: 10px;
	@include arrow(down, 5px, blue);
}

.arrow-right:before{
	content: '';
	display: inline-block;
	margin-right: 5px;
	@include arrow(right, 5px, blue);
}

.arrow-left:before{
	content: '';
	display: inline-block;
	margin-right: 5px;
	@include arrow(left, 5px, red);
}

.arrow-down:before{
	content: '';
	display: inline-block;
	margin-right: 5px;
	@include arrow(up, 5px, red);
}